@font-face {
    font-family: 'Anonymous Pro';
    src: url('fonts/AnonymousPro-Regular.ttf');
    font-weight: normal;}
    
    @font-face {
    font-family: 'Anonymous Pro';
    src: url('fonts/AnonymousPro-Bold.ttf');
    font-weight: bold;}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background-color: #f1f1f1;
    margin:0;
    font-family: 'Anonymous Pro', sans-serif;
    font-size:20px;
}

    .container{
        width:100%;
        max-width: 1200px;

        margin:0 auto;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

h1{
    font-size:48px;
    font-weight: bold;
    margin-bottom: 30px;
}
h2{
    font-size: 26px;
    font-weight: bold;
}
p, a{
    font-size:20px;
    font-weight: normal;
}



.header{
    height: 110px;
    width:100%;
    background-color: #ffffff;
    border-bottom: 1px #A1A6B4 solid;
    padding:22px 0;
}

.header_logo{
width: 212px;
}
.social{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    column-gap:20px;
}

.social-link{
text-decoration: none;
color: black;
font-weight: bold;
}

.social-link-white{
    color:white;
}

.main{
    margin:30px 0;

    
}

.main_cards{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   flex-wrap:wrap;
   gap:30px;

}

.card{
    background-color: #ffffff;
    border-radius:15px;
 width:100%;
max-width:370px;

overflow: hidden;
}

.card_image{
    width:100%
}

.card_text{
    padding:20px 25px;
}
.card_text > h2{
    margin-bottom: 10px;
}

.footer{
    height:140px;
    width:100%;
    background-color: #121723;
    padding:40px 0;
}

.footer_logo{
 width:300px;
}
.footer-line{
    height: 1px;
    margin:20px 0;
    border:none;
    background-color: #a1a6b4;
}

.footer-text{
    color:#a1a6b4;
    text-align: center;
    font-weight: bold;
    font-size:16px;
    text-transform: uppercase;
}
